/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*****GLOBAL STYLES*****/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #152A3E;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alike', serif;
  text-align: center;
}

/*****HEADER*****/
header {
  background-color: #EEEFDA;
  padding: 0 30px 30px 30px;
}

nav {
  padding: 30px 0;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

li {
  list-style: none;
  cursor: pointer;
}

li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #152A3E;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

#contact-button {
  background-color: #152A3E;
  border-radius: 30px;
  padding: 8px 12px;
  border: none;
  color: white;
}

#contact-button:hover {
  background-color: #B4C7D9;
  color: #152A3E;
}

.header-button {
  background-color: #EEEFDA;
  border-radius: 30px;
  padding: 8px 12px;
}

.header-button:hover {
  background-color: #CAC691;
}

h1 {
  padding: 30px 0;
  margin: 0;
  font-size: 28px;
}

h2 {
  padding: 30px 0;
  margin: 0;
  font-size: 20px;
}

/*****PROJECTS*****/
#projects {
  margin: 30px 30px 0 30px;
}

h3 {
  font-size: 26px;
  padding: 30px 0;
  margin: 0;
}

.project {
 padding: 10px 0 40px 0;
}

img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
  margin: 0;
  padding: 40px 0 20px 0;
  font-size: 20px;
}

.description {
  margin: 0;
  padding: 20px 0;
}

span {
  font-weight: bold;
}

.skills {
  margin: 0;
  padding: 20px 0;
}

.link {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.project-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #152A3E;
  border-radius: 30px;
  padding: 8px 40px;
}

.project-link:hover {
  background-color: #B4C7D9;
  color: #152A3E;
}


/*****SKILLS*****/
#skills {
  padding: 30px;
  background-color: #EEEFDA;
}

.skills-wrapper {
  padding: 10px 0;
}

.skill {
  padding: 15px;
  margin: 20px 0;
  background-color: #F8D697;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}


/*****ABOUT*****/
#about {
  padding: 60px 30px 50px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#headshot {
  box-shadow: none;
  padding-bottom: 10px;
  width: 80%;
}

#about-description {
  padding: 10px 0;
}

.about-text {
  margin: 0;
  padding: 30px 0 10px 0;
}


/*****FOOTER*****/
#contact {
  background-color: #EEEFDA;
  padding: 30px;
}

.contact-section {
  padding-bottom: 30px;
}

.contact-heading {
  padding: 30px 0;
  font-size: 24px;
}

.contact-info {
  text-align: center;
  margin: 0;
  font-style: normal;
}

#email {
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #152A3E;
}

.social {
  display: flex;
  justify-content: center;
}

i {
  padding: 0 15px;
  color: #152A3E;
  font-size: 28px;
}

#copyright {
  padding: 30px 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*Tablet styles here*/
@media only screen and (min-width: 768px) {

  /*****HEADER*****/
  header {
    padding: 30px 120px;
  }

  nav {
    padding-bottom: 50px;
  }

  ul {
    margin: 0;
  }

  li a {
    font-size: 16px;
    font-weight: 600;
  }

  button {
    padding: 12px;
  }

  #introduction {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
    padding: 50px 0;
  }

  /*****PROJECTS*****/
  #projects {
    margin: 50px 40px;
  }

  h3 {
    font-size: 32px;
    padding: 30px 0;
  }

  .project-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .project {
    width: 40%;
    padding: 30px;
  }

  /*****SKILLS*****/
  #skills {
    padding: 50px 30px;
  }

  .skills-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 0 30px 0;
  }

  .skill {
    width: 40%;
    margin: 10px;
    font-size: 18px;
  }


  /*****ABOUT*****/
  #about {
    padding: 80px 50px 70px 50px;
  }

  #headshot {
    width: 45%;
    padding-bottom: 53px;
  }

  #about-description {
    padding: 30px 80px;
    font-size: 20px;
    text-align: left;
  }

  .about-text {
    padding: 30px 80px 10px 80px;
  }

  /*****FOOTER*****/
  #contact {
    padding: 50px 30px;
  }

  .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
  }

  .contact-section {
    padding: 0 30px;
  }
}


/*Desktop styles here*/
@media only screen and (min-width: 1200px) {

  /*****HEADER*****/
  header {
    padding: 40px 100px 80px;
  }
  
  nav {
    padding: 40px 0;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    padding-left: 10px;
  }

  #introduction {
    padding: 40px 0 20px 0;
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
    padding: 20px 150px;
  }

  /*****PROJECTS*****/
  #projects {
    margin: 0;
    padding: 70px 20px 40px;
  }

  h3 {
    font-size: 40px;
  }

  .project-wrapper {
    padding: 10px 0 0;
  }

  .project {
    width: 25%;
    padding: 20px 25px 40px;
  }

  .description {
    font-size: 20px;
  }

  .skills {
    font-size: 20px;
  }

  /*****SKILLS*****/
  #skills {
    padding: 70px 30px;
  }

  .skills-wrapper {
    padding: 10px 0 30px 0;
  }

  .skill {
    width: 25%;
    margin: 10px;
    font-size: 16px;
  }

  /*****ABOUT*****/
  #about {
    padding: 100px 80px;
  }

  .about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #headshot {
    width: 40%;
    padding: 0 80px 0 0;
  }

  #about-intro {
    text-align: left;
    padding: 0;
  }

  #about-description {
    font-size: 30px;
    padding: 40px 0;
  }

  .about-text {
    font-size: 20px;
    padding: 0;
  }

  /*****FOOTER*****/
  #contact {
    padding: 70px 0;
  }

  .contact-wrapper {
    padding: 30px 0;
  }

  .contact-section {
    padding: 0 50px;
  }

  .contact-heading {
    font-size: 30px;
  }

  .contact-info {
    font-size: 20px;
  }

  i {
    font-size: 32px;
  }
}




/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

